/*
*    FADE
*/

.yap--ef-fade .yap--toIn {
}
.yap--ef-fade .yap--in {
}
.yap--ef-fade .yap--toOut {
    opacity: 1;
    z-index: 1;
}
.yap--ef-fade .yap--out {
    opacity: 0;
}

/*
*    SLIDE
*/

.yap--ef-slide .yap--toIn {
    margin-left: 100%;
}
.yap--ef-slide .yap--in {
    margin-left: 0;
}
.yap--ef-slide .yap--toOut {
    margin-left: 0;
}
.yap--ef-slide .yap--out {
    margin-left: -100%;
}

/*
*    VERTICAL
*/

.yap--ef-slide .yap--toIn {
    margin-top: -100%;
}
.yap--ef-slide .yap--in {
    margin-top: 0;
}
.yap--ef-slide .yap--toOut {
    margin-top: 0;
}
.yap--ef-slide .yap--out {
    margin-top: 100%;
}



