/*
*    BASIC STYLES
*/

html, body {
    height: 100%;
    font-family: "Noto Serif", serif;
}

code {
    display: inline-block;
    padding: 3px;
    background: #eee;
    border-right: 4px;
    font-size: .8em;
    vertical-align: middle;
}

a {
    color: #e01d1d;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}

button {
    color: #fff;
    border: 1px solid #c11a1a;
    outline: none;
    background: #e01d1d;
}

.page-title {
    margin-bottom: 0;
    font-size: 40px;
    text-align: center;
}
.page-subtitle {
    font-size: 25px;
    margin-bottom: 60px;
    text-align: center;
}

.container {
    width: 800px;
    padding: 30px 0;
    margin: auto;
}

.item {
    position: relative;
    margin-bottom: 80px;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.5);
    box-shadow: 0 0 3px rgba(0,0,0,.5);
}

.presentation {
    background: #fff;
    counter-reset: presentation;
}

.presentation-item {
    padding: 20px 60px;
    height: 360px;
    font-size: 1.2em;
    background: #fff;
    counter-increment: presentation;
}
.presentation-item:before {
    content: counter(presentation);
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    top: 10px;
    left: 10px;
    text-align: center;
    border-radius: 20px;
    color: #777;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 2px rgba(0,0,0,.2);
    box-shadow: 0 0 2px rgba(0,0,0,.2);
}

.content {
    max-width: 900px;
    margin: auto;
}

.presentation-item h1 {
    text-align: center;
    font-size: 1.8em;
    margin-top: .4em;
}

.yap--control {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 50%;
    margin-top: -27px;
    height: 14px;
    padding: 20px;
    font-size: 12px;
    background: rgba(0,0,0,.5);
    color: #fff;
    cursor: pointer;
}

.yap--control-next {
    left: auto;
    right: 0;
}

.yap--fullscreenControl {
    position: absolute;
    z-index: 11;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 12px;;
    background: rgba(0,0,0,.5);
    color: #fff;
    cursor: pointer;
}

.yap--fullscreen {
    position: fixed !important;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: auto !important;
}
@media (min-width: 1200px) {
    .yap--fullscreen {
        font-size: 25px;
        font-size: 1.4vw;
    }
}

.yap--fullscreen ~ .yap--fullscreenControl {
    position: fixed;
    z-index: 101;
    right: 0;
    top: 0;
}

.yap--fullscreen ~ .yap--control {
    position: fixed;
    z-index: 101;
}

.yap--fullscreen ~ .settings{
    position: fixed;
    z-index: 101;
}

/*
*    ADDITIONAL
*/

.settings {
    position: absolute;
    z-index: 50;
    bottom: 0;
    right: 0;
    padding: 10px;
    font-size: 12px;
    background: rgba(0,0,0,.5);
    color: #fff;
}

.settings-text {
    display: inline-block;
    width: 180px;
}

.settings input,
.settings select {
    width: 80px;
    color: #222;
    outline: none;
    border: none;
    background: #fff;
}


