.container {
    width: 800px;
    margin: 60px auto;
}

.presentation {

}

.presentation-item {
    padding: 20px;
    background: #eee;
    height: 360px;
}

.presentation-item h1,
.presentation-item h2,
.presentation-item h3,
.presentation-item h4,
.presentation-item h5,
.presentation-item h6 {
    text-align: center;
}

