/*
*    BASIC STYLES
*/

.container {
    width: 800px;
    margin: 60px auto;
}

.presentation-item {
    padding: 20px;
    background: #eee;
    height: 360px;
}

.presentation-item h1,
.presentation-item h2,
.presentation-item h3,
.presentation-item h4,
.presentation-item h5,
.presentation-item h6 {
    text-align: center;
}

/*
*    ANIMATIONS
*/

.yap--toIn {
    opacity: 0;
}
.yap--in {
    opacity: 1;
}
.yap--toOut {
    opacity: 1;
    z-index: 1;
}
.yap--out {
    opacity: 0;
}

/*
*    ADDITIONAL
*/

.presentation-item + .presentation-item {
    background: #ffaaaa;
}
.presentation-item + .presentation-item + .presentation-item {
    background: #aaffaa;
}


